.content{
 display:flex;
 align-items:  flex-start;
 flex-direction: column;
}


.content__list {
    display: block; 
    padding: 16px;
    margin-top: 32px;
    margin-left: 256px;
    margin-bottom: 32px;
	background: rgba(0,0,0,0.75);
	border-radius: 64px;
}

.content__list h1 {
	margin-left: 16px;
	text-decoration: none;
    color: #c7c7c7;
    font-size: 20px;
}

.content__list ul{
	list-style: disc;
	color: #c7c7c7;
	font-size: 20px;	
}
.content__list > ul li a{
    color: #c7c7c7;
    font-size: 20px;
}

.content__text{
    display: block;
    padding: 25px;
    margin: 256px;
    margin-top: 50px;
    margin-bottom: 0px;
    background: rgba(0,0,0,0.75);
    border-radius: 64px;	
}
.statya {
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 10px;
    color: #c7c7c7;
    font-size: 23px;
    text-align: justify;
    line-height: 1.5;
}

.statya p{
    text-indent: 25px;
    margin-bottom: 10px;
}
.content h1{
    text-align: center;
    margin: 15;
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}
.content h2{
    text-align: center;
    margin: 15;
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}

.image{
	text-align: center;
}


.pod{
	font-size: 15px;
	color: #c7c7c7;
	margin-top: 10px;
	text-align: center;	
}

.statya ul{
	margin-left: 480px;
}

.statya a{
	text-decoration: none;
    color: #c7c7c7;
    font-size: 20px;
}




